<div class='column categories'>
  <section class="landing">
    <div class="first">
      {{#if topics}}
        <div class="topics-title">
          <span class="text">
            {{i18n 'home.latest_topics'}}
          </span>
          {{category-link category}}
        </div>
        
        {{topic-list topics=topics
                     hideCategory=true
                     skipHeader=true}}
      {{else}}
        <div class="home-image"></div>
        <div class="site-title">
          {{siteSettings.pavilion_home_site_title}}
        </div>
        <div class="home-title">
          {{{siteSettings.pavilion_home_site_description}}}
        </div>
      {{/if}}
    </div>

    <div class="landing-block">
      <ul class="links">
        <li>
          <a href="{{siteSettings.pavilion_home_box_1_url}}">
            <img class="image start" src="/plugins/discourse-pavilion/assets/balloons.png">
            <span class="label">{{siteSettings.pavilion_home_box_1_text}}</span>
          </a>
        </li>
        <li>
          <a href="{{siteSettings.pavilion_home_box_2_url}}">
            <img class="image plugins" src="/plugins/discourse-pavilion/assets/bike.png">
            <span class="label">{{siteSettings.pavilion_home_box_2_text}}</span>
          </a>
        </li>
        <li>
          <a href="{{siteSettings.pavilion_home_box_3_url}}">
            <img class="image learn" src="/plugins/discourse-pavilion/assets/guitar.png">
            <span class="label">{{siteSettings.pavilion_home_box_3_text}}</span>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="landing-block">
      <div class="home-title">
        <a name="categories" href="/categories">Learn More</a>
      </div>
      {{#if filteredCategories}}
        {{categories-boxes categories=filteredCategories}}
      {{/if}}
    </div>

    <div class="landing-block">
      <div class="home-title">
        <a name="team" href="#team">Our Team</a>
      </div>
      <div class="home-profiles">
        {{#each teamMembers as |tm|}}
          <a href="/u/{{tm.username}}" class="home-profile">
            <div class="avatar">
              {{avatar tm avatarTemplatePath="avatar_template"
                          usernamePath="username"
                          namePath="name"
                          imageSize="large"}}
            </div>
            <div class="details">
              <div class="name">
                {{tm.name}}
              </div>
              <div class="bio">
                {{{tm.bio}}}
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </section>
</div>