<section class="landing">
  <div class="first">
    {{#if topics}}
      <div class="topics-title">
        <span class="text">
          {{i18n 'home.latest_topics'}}
        </span>
        {{#if currentUser.staff}}
          <a href="/work">
            {{i18n 'filters.work.title'}}
          </a>
        {{else}}
          {{category-link category}}
        {{/if}}
      </div>
      
      {{topic-list topics=topics
                   hideCategory=true
                   skipHeader=true}}
    {{else}}
      <div class="home-image"></div>
      <div class="site-title">
        {{siteSettings.pavilion_home_site_title}}
      </div>
      <div class="home-title">
        {{{siteSettings.pavilion_home_site_description}}}
      </div>
    {{/if}}
  </div>

  <div class="landing-block">
    <ul class="links">
      <li>
        <a href="{{siteSettings.pavilion_home_box_1_url}}">
          <img class="image start" src="/plugins/discourse-pavilion/assets/balloons.png">
          <span class="label">{{siteSettings.pavilion_home_box_1_text}}</span>
        </a>
      </li>
      <li>
        <a href="{{siteSettings.pavilion_home_box_2_url}}">
          <img class="image plugins" src="/plugins/discourse-pavilion/assets/bike.png">
          <span class="label">{{siteSettings.pavilion_home_box_2_text}}</span>
        </a>
      </li>
      <li>
        <a href="{{siteSettings.pavilion_home_box_3_url}}">
          <img class="image learn" src="/plugins/discourse-pavilion/assets/guitar.png">
          <span class="label">{{siteSettings.pavilion_home_box_3_text}}</span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="landing-block">
    <div class="home-title">
      <a name="learn_more" href="/c/welcome/about">Learn More</a>
    </div>
    {{#if aboutTopics}}
      <div class="about-topic-list">
        {{#each aboutTopics as |aboutTopic|}}
          {{about-topic topic=aboutTopic}}
        {{/each}}
      </div>
    {{/if}}
  </div>

  <!--<div class="landing-block">
    <div class="home-title">
      <a name="members" href="#members">Featured Members</a>
    </div>
    <div class="home-profiles">
      {{#each teamMembers as |tm|}}
        {{team-user-card user=tm}}
      {{/each}}
    </div>
  </div>-->
</section>
